.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a[ng-click], a[ui-sref] {
  cursor: pointer;
}

body {
  padding: 0;
  font-family: 'Scada', sans-serif;
  background-color: #e6e6e6;
  font-size: 16px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  .header {
    margin-bottom: 30px;
  }
  
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-default {
  background-color: #1c5586;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

a:hover {
  text-decoration: none;
}