<div class="panel panel-default">
  <div class="panel-body">
    <h2>Авторлор</h2>
    <p><b>OshSU Times</b> программасы Ош мамлекеттик университетинин ПОВТАС(б)-2-17Р тайпасынын студенттери тарабынан түзүлдү.</p>
    <p>Программа ката иштеп жатабы же расписание туура эмесби?<br />Программаны жакшыртуу үчүн ой-пикир, сунуш барбы?<br />Сураныч, бизге кайрылыңыз..</p>
    <p>Байланышуу: <b><a href="tel:+996777289549">+996 777 289 549</a></p>
  </div>
</div>