<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color: #fff;">
        <span><img style="height: calc(100% + 10px); margin-top: -5px;" src="/images/oshsu.png" /></span> OshSU Times
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#!/welcome" ng-click="$emit('not_authorized')" ng-show="authorized" style="color: #fff;">{{ group.title }}</a></li>
        <li><a ui-sref="app.about" style="color: #fff;">Авторлор</a></li>
        <li><a ui-sref="admin.index" ng-if="admin" style="color: #fff;">Администрация</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div ui-view ng-hide="page.error || page.loading"></div>
  <div ng-show="page.error">
    Opps, error!
  </div>
  <div ng-show="page.loading" class="text-center" style="margin: 10px;">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div style="text-align: center; margin-bottom: 10px;">
    Программа ката иштеп жатабы же расписание туура эмесби?<br />Программаны жакшыртуу үчүн ой-пикир, сунуш барбы?<br />Сураныч, бизге кайрылыңыз.. <a ui-sref="app.about">Авторлор</a>
  </div>
</div>