<div ng-show="application" class="panel panel-default">
  <div class="panel-body text-center">
    <h2>Android приложения</h2>
    <p>Android системасында иштеген телефондор үчүн OshSU Times приложениясын жүктөп, орнотуп алып ыңгайлуу жана офлайн режиминде интернетсиз колдонуңуз!</p>
    <div class="btn-group" role="group">
      <a class="btn btn-default" href="/OshSUTimes.apk" role="button" ng-click="applicationClick()">Жүктөп алуу</a>
      <a class="btn btn-default" href="/OshSUTimes.apk" role="button" ng-click="applicationClose()">Жүктөп алдым</a>
    </div>
    <a ng-click="applicationClose()">Жабуу</a>
    <p>Приложенияны колдонууда кандайдыр бир көйгөй жаралса же приложенияда катачылык болсо бизге кайрылыңыз. <a ui-sref="app.about">Авторлор</a></p>
  </div>
</div>
<div ng-if="type == 'index'" class="panel panel-default">
	<div class="panel-body">
		<uib-tabset active="active" justified="true">
    	<uib-tab index="0" heading="Бүгүн"><br />
        <div ng-show="days.length" ng-style="todayParams.style" style="border-radius: 10px; text-align: center; padding: 20px;">
          <div class="hidden-xs" style="font-size: 100px;">{{ todayParams.text }}</div>
          <div class="visible-xs" style="font-size: 60px;">{{ todayParams.text }}</div>
          <div style="font-size: 25px;">{{ todayParams.minitext }}</div>
        </div>
        <div ng-show="days.length"><br />
          <ul class="list-group" ng-if="todayParams.list.length">
            <li class="list-group-item" ng-repeat="l in todayParams.list">
              <div ng-if="l.title">
                  <div><i class="fa fa-book fa-fw"></i> {{ l.title }}</div>
                  <div><i class="fa fa-clock-o fa-fw"></i> <span style="color: green;">{{ l.time.startText }}</span> - <span style="color: red;">{{ l.time.endText }}</span> ({{ l.time.duration }} мүнөт)</div>
                  <div><i class="fa fa-map-marker fa-fw"></i> <span ng-repeat="r in l.rooms">{{ r }} </span></div>
                  <div><i class="fa fa-building fa-fw"></i> {{ l.building }}</div>
              </div>
              <div ng-if="!l.title" class="text-right" style="color: blue;"><i>Дем алуу</i> <i class="fa fa-clock-o fa-fw"></i> <span style="color: green;">{{ l.time.startText }}</span> - <span style="color: red;">{{ l.time.endText }}</span> <span style="color: black;">({{ l.time.duration }} мүнөт)</span></div>
            </li>
          </ul>
        </div>
        <div ng-show="!days.length" class="text-center">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </uib-tab>
			<uib-tab index="1" heading="Расписание"><br />
			  <uib-accordion close-others="true">
				  <div uib-accordion-group ng-repeat="(key, day) in days track by $index" class="panel-default" is-open="schedule.status[key]">
				  	<uib-accordion-heading ng-click="!schedule.status[key]">
				      {{ dayNames[key] }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': schedule.status[key], 'glyphicon-chevron-right': !schedule.status[key]}"></i>
				    </uib-accordion-heading>
				    <ul class="list-group" ng-if="days[key].length">
						  <li class="list-group-item" ng-repeat="l in days[key]">
						  	<div ng-if="l.title">
						  		<div><i class="fa fa-book fa-fw"></i> {{ l.title }}</div>
                  <div><i class="fa fa-clock-o fa-fw"></i> <span style="color: green;">{{ l.time.startText }}</span> - <span style="color: red;">{{ l.time.endText }}</span> ({{ l.time.duration }} мүнөт)</div>
                  <div><i class="fa fa-map-marker fa-fw"></i> <span ng-repeat="r in l.rooms">{{ r }} </span></div>
						  		<div><i class="fa fa-building fa-fw"></i> {{ l.building }}</div>
						  	</div>
						  	<div ng-if="!l.title" class="text-right" style="color: blue;"><i>Дем алуу</i> <i class="fa fa-clock-o fa-fw"></i> <span style="color: green;">{{ l.time.startText }}</span> - <span style="color: red;">{{ l.time.endText }}</span> <span style="color: black;">({{ l.time.duration }} мүнөт)</span></div>
						  </li>
						</ul>
						<div ng-show="!days[key].length" class="text-center">Дем алыш! :)</div>
				  </div>
			  </uib-accordion>
    	</uib-tab>
  	</uib-tabset>
	</div>
</div>

<div ng-if="type == 'welcome'" class="panel panel-default">
  <div class="panel-body">
    <div class="text-center"><h2>OshSU Times</h2></div>
    <p class="text-center"><b>OshSU Times</b>'ка кош келиңиз!</p>
    <p>Эгерде тизмеде сиз окуган факультет же тайпа жок болсо бизге кайрылыңыз. Долбоордун автору: <a href="tel:+996777289549" style="font-weight: bold;">+996 777 289 549</a> (тизмеге тайпасын кошуу үчүн тайпанын старосталары кайрылсын).</p>
    <p><b style="color: #ff0000;">Көңүл буруңуз!</b> Сиздин телефондун (компьютердин) сааты ката болсо программа туура эмес иштөөсү мүмкүн! Программадагы сабак жана алардын убакыттарына ошол тайпанын старосталары жооптуу.</p>
   	<p ng-show="faculty.loaded">
   		<label for="selectFaculty">Сураныч, өз факультетиңизди киргизиңиз..</label>
   		<select id="selectFaculty" class="form-control" ng-model="faculty.model" ng-change="requestGroup(faculty.model)">
   			<option ng-value="-1">Факультет тандаңыз</option>
   			<option ng-repeat="f in faculty.list" ng-value="$index">{{ f.name }}</option>
   		</select>
   	</p>
   	<p ng-show="group.loaded">
   		<label for="selectGroup">Сураныч, окуган тайпаңызды танданыз..</label>
   		<select id="selectGroup" class="form-control" ng-model="group.model" ng-change="requestSubmit(group.model)">
   			<option ng-value="-1">Тайпа тандаңыз</option>
   			<option ng-repeat="f in group.list" ng-value="$index">{{ f.title }}</option>
   		</select>
   	</p>
    <div class="text-center" ng-show="welcomeLoading">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
   	<button ng-click="go()" class="btn btn-primary btn-block" ng-show="button" type="submit">OK</button>
  </div>
</div>