<div class="panel panel-default">
  <div class="panel-body">
    <div class="text-center"><h2>OshSU Times</h2></div>
    <p class="text-center"><b>OshSU Times</b>'ка кош келиңиз!</p>
    <p>Эгерде тизмеде сиз окуган факультет же тайпа жок болсо бизге кайрылыңыз. Долбоордун автору: <a href="tel:+996777289549" style="font-weight: bold;">+996 777 289 549</a></p>
   	<p ng-show="faculty.loaded">
   		<label for="selectFaculty">Сураныч, өз факультетиңизди киргизиңиз..</label>
   		<select id="selectFaculty" class="form-control" ng-model="faculty.model" ng-change="requestGroup(faculty.model)">
   			<option ng-value="-1">Факультет тандаңыз</option>
   			<option ng-repeat="f in faculty.list" ng-value="$index">{{ f.name }}</option>
   		</select>
   	</p>
   	<p ng-show="group.loaded">
   		<label for="selectGroup">Сураныч, окуган тайпаңызды танданыз..</label>
   		<select id="selectGroup" class="form-control" ng-model="group.model" ng-change="requestSubmit(group.model)">
   			<option ng-value="-1">Тайпа тандаңыз</option>
   			<option ng-repeat="f in group.list" ng-value="$index">{{ f.title }}</option>
   		</select>
   	</p>
   	<button ng-click="go()" class="btn btn-primary btn-block" ng-show="button" type="submit">OK</button>
  </div>
</div>