<div class="panel panel-default">
  <div class="panel-body">
    <h2>Жаңы факультет кошуу</h2>
		<div class="form-group">
	    <input ng-model="faculty.name" type="text" class="form-control" placeholder="Факультет аталышы">
	  </div>
	  <button ng-click="faculty.add()" ng-class="{'disabled': faculty.addLoading}" class="btn btn-primary btn-block">
	  	<span ng-show="faculty.addLoading"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i><span class="sr-only">Loading...</span></span>
	  	<span ng-hide="faculty.addLoading">Кошуу</span>
	  </button>
  </div>
</div>
<div class="panel panel-default" ng-show="loaded">
  <div class="panel-body">
    
  </div>
</div>