<div class="panel panel-default">
  <div class="panel-body">
    <h2>Жаңы тайпа кошуу</h2>
		<div ng-show="group.loaded">
			<div class="form-group">
				<label for="selectFaculty">Жаңы тайпа факультети</label>
		   	<select id="selectFaculty" class="form-control" ng-model="group.faculty">
		 			<option ng-value="-1">Факультет тандаңыз</option>
	   			<option ng-repeat="f in faculties" ng-value="f.id">{{ f.name }}</option>
	   		</select>
			</div>
			<div class="form-group">
		    <input ng-model="group.name" type="text" class="form-control" placeholder="Тайпа аталышы">
		  </div>
			<div class="form-group">
		    <input ng-model="group.starosta.name" type="text" class="form-control" placeholder="Тайпа старостасын аты/жөнү">
		  </div>
			<div class="form-group">
		    <input ng-model="group.starosta.phone" type="text" class="form-control" placeholder="Тайпа старостасын тел.номуру">
		  </div>
		  <button ng-click="group.add()" ng-class="{'disabled': group.addLoading}" class="btn btn-primary btn-block">
		  	<span ng-show="group.addLoading"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i><span class="sr-only">Loading...</span></span>
		  	<span ng-hide="group.addLoading">Кошуу</span>
		  </button>
		</div>
		<div ng-hide="group.loaded">
			Сураныч, күтүңүз...
		</div>
  </div>
</div>
<div class="panel panel-default" ng-show="loaded">
  <div class="panel-body">
    
  </div>
</div>