<div class="panel panel-default">
  <div class="panel-body">
    <h2>Администрация</h2>
	<div class="list-group">
	  <a ui-sref="admin.faculties" class="list-group-item"><i class="fa fa-plus-circle fa-fw"></i> Жаңы факультет кошуу (факультеттер)</a>
	  <a ui-sref="admin.groups" class="list-group-item"><i class="fa fa-plus-circle fa-fw"></i> Жаңы тайпа кошуу (тайпалар)</a>
	  <a ui-sref="admin.lessons" class="list-group-item"><i class="fa fa-plus-circle fa-fw"></i> Жаңы сабактарды кошуу (сабактар)</a>
	  <a ng-click="logout()" class="list-group-item"><i class="fa fa-sign-out fa-fw"></i> Чыгуу</a>
	</div>
  </div>
</div>
<div class="panel panel-default" ng-show="stats.loaded">
  <div class="panel-body">
    <h2>Статистика</h2>
	<p>Катталган жалпы факультеттер: <b>{{ stats.faculties }}</b></p>
	<p>Катталган жалпы тайпалар: <b>{{ stats.groups }}</b></p>
	<p>Катталган жалпы сабактар саны: <b>{{ stats.lessons }}</b></p>
	<p>Жалпы дем алуулар саны: <b>{{ stats.breath }}</b></p>
  </div>
</div>