<div class="panel panel-default">
  <div class="panel-body">
    <h2>Сабак кошуу</h2>
		<div ng-show="loaded">
			<div class="form-group">
		   	<select class="form-control" ng-model="lesson.group">
		 			<option ng-value="-1">Тайпаны тандаңыз</option>
	   			<option ng-repeat="f in groups" ng-value="f.id">{{ f.title }}</option>
	   		</select>
			</div>
			<div class="form-group">
		    <input ng-model="lesson.name" type="text" class="form-control" placeholder="Сабак аталышы">
		  </div>
			<div class="form-group">
		    <input ng-model="lesson.rooms" type="text" class="form-control" placeholder="Сабак өтүлүүчү аудиоториялар">
		  </div>
			<div class="form-group">
		    <input ng-model="lesson.building" type="text" class="form-control" placeholder="Сабак өтүлүүчү корпус">
		  </div>
		  <div class="form-group">
		   	<select class="form-control" ng-model="lesson.day">
		 			<option ng-value="0">Сабак болуу күнү</option>
	   			<option ng-repeat="f in [1, 2, 3, 4, 5, 6]" ng-value="f">{{ dayNames[f - 1] }}</option>
	   		</select>
			</div>
			<div class="form-group">
		    <input ng-model="lesson.position" type="number" class="form-control" placeholder="Позиция">
		  </div>
		  <div class="form-group">
		    <input ng-model="lesson.time.start" type="text" class="form-control" placeholder="Сабак башталуу убакыты">
		  </div>
		  <div class="form-group">
		  	<input ng-model="lesson.time.end" type="text" class="form-control" placeholder="Сабак бүтүү убакыты">
		  </div>
		  <button ng-click="add()" ng-class="{'disabled': loading}" class="btn btn-primary btn-block">
		  	<span ng-show="loading"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i><span class="sr-only">Loading...</span></span>
		  	<span ng-hide="loading">Кошуу</span>
		  </button>
		</div>
		<div ng-hide="loaded">
			Сураныч, күтүңүз...
		</div>
  </div>
</div>
<div class="panel panel-default" ng-show="loaded">
  <div class="panel-body">
    
  </div>
</div>