<div class="panel panel-default">
  <div class="panel-body">
    <h2>Администрация</h2>
		<div class="form-group">
	    <input ng-model="password" type="password" class="form-control" placeholder="Сыр сөз">
	  </div>
	  <button ng-click="go()" ng-class="{'disabled': loading}" class="btn btn-primary btn-block">
	  	<span ng-show="loading"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i><span class="sr-only">Loading...</span></span>
	  	<span ng-hide="loading">Кирүү</span>
	  </button>
  </div>
</div>